<%- include('../layout/header.ejs') -%>

<link rel="stylesheet" href="../../stylesheets/add-recipe.css">
<div class="container "">
    <div class="d-flex justify-content-between">
        <p>Nguyen lieu</p>
    <div class="search">
        <i class="fas fa-search search_icon"></i>
        <input type="text" class="search_input">
    </div>
    </div>
    
    
    
    <table class="table">
        <tr>
            <th>Name</th>
            <th>So luong</th>
            <th>Don vi</th>
        </tr>
        <tr>
            <th>Thit bo</th>
            <th>100</th>
            <th>gam</th>
        </tr>
    </table>
</div>
