<%- include('../layout/header.ejs') -%>

<link rel="stylesheet" href="../../stylesheets/login.css">

<div class="container d-flex justify-content-center">
    <div class="form">
        <p class="title">Quên mật khẩu?</p>
        <form action="">
            <div class="form-group">
                <label for="new-password">Mật khẩu mới :</label>
                <input class="form-input" type="password" name="new-password" id="new-password">
            </div>
            <div class="form-group">
                <label for="cf-new-password">Nhập lại mật khẩu :</label>
                <input class="form-input" type="password" name="cf-new-password" id="cf-new-password">
            </div>
            <div class="form-group">
                <label for="code">Mã Code : </label>
                <input class="form-input" type="number" name="code" id="code">
            </div>
            <div class="text-center">
                <button class="btn">Đổi mật khẩu</button>
            </div>
            <p class="mt-5">*Mã Code sẽ được gửi tới email của bạn*</p>
        </form>
    </div>
</div>