<%- include('../layout/header.ejs') -%>

<div class="container">
    <p class="mb-4" style="font-size: 24px;">Danh sách công thức  yêu thích</p>
    <%- include('../share/post-favorite.ejs') -%>
</div>
