<%- include('../layout/header.ejs') -%>

<div class="container">
    <p class="mb-4" style="font-size: 24px;">Danh sách công thức  yêu thích</p>

    <% for( let item of recipes ) { %>
        <div>
            <%- include('../share/post-favorite.ejs', {recipe: item}) -%>
        </div>
    <% } %>
    
</div>

