<%- include('../layout/header.ejs') -%>

<div class="container">
    <div class="d-flex justify-content-between">    
        <p class="mb-4" style="font-size: 24px;">Danh sách công thức  gợi ý</p>
        <div class="d-flex align-items-center" style="font-size: 24px; cursor: pointer;">
            <i class="fas fa-shopping-cart"></i>
            <p class="mx-3 my-0">Giỏ nguyên liệu</p>
        </div>
    </div>
    <% for( let item of recipes ) { %>
        <div>
            <%- include('../share/post-favorite.ejs', {recipe: item}) -%>
        </div>
    <% } %>
</div>
