
<link rel="stylesheet" href="/stylesheets/post-recipe.css">

<div class="post_container">
    <div class="info">
        <img src="../../assets/user.svg" alt="">
        <p class="username">Admin</p>
        <p class="time">May 15, 2021</p>
    </div>
    <p class="recipe-name">Công thức làm bánh Hamburger</p>
    <img class="recipe-img" src="../../assets/burger.svg" alt="" width="100%">
    <div class="rating">
        <div class="rate">
            <i class="fas fa-star fill-star"></i>
            <i class="fas fa-star fill-star"></i>
            <i class="fas fa-star fill-star"></i>
            <i class="fas fa-star fill-star"></i>
            <i class="fas fa-star empty-star"></i>
        </div>
        <div class="like">
            <i class="far fa-heart unlike d-none"></i>
            <i class="fas fa-heart liked"></i>
        </div>
    </div>
</div>