<link rel="stylesheet" href="../../stylesheets/post-favorite.css">

<div class="post_container">
    <div class="row h-100">
        <div class="col-md-4 p-0">
            <img class="recipe_img" src="../../assets/burger.svg" alt="">
        </div>
        <div class="col-md-8 p-0">
            <div class="recipe_info h-100">
                <div>
                    <div class="info">
                        <img src="../../assets/user.svg" alt="">
                        <p class="username px-3">Admin</p>
                        <p class="time">May 15, 2021</p>
                    </div>
                    <p class="recipe-name">Công thức làm bánh Hamburger</p>
                </div>
                
                <div class="rating">
                    <div class="rate">
                        <i class="fas fa-star fill-star"></i>
                        <i class="fas fa-star fill-star"></i>
                        <i class="fas fa-star fill-star"></i>
                        <i class="fas fa-star fill-star"></i>
                        <i class="fas fa-star empty-star"></i>
                    </div>
                    <div class="like">
                        <i class="far fa-heart unlike d-none"></i>
                        <i class="fas fa-heart liked"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>